# OS files
.DS_Store
desktop.ini
Thumbs.db

# Data files
*.csv
*.txt
data/

# Python caches & virtual envs
__pycache__/
*.pyc
.venv/
venv/

# IDE settings & Secrets
.vscode/
.idea/
.env


#the reason its wriiten like this: * is like a wildcard, and .csv, or .py is the way the file ends. So it will ignore all files that end with .csv or .py, and the same goes for the other file types.  